<div class="dropdown-menu">
  <a class="dropdown-item" href={Routes.appname_classname_path(@conn, :show, @classname)}>
    <%= central_component "icon", icon: "fas fa-???" %>
    &nbsp;
    Action name
  </a>
</div>
